{% extends "base.html" %} {% load static %}
<!--  -->
{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}" />
{% endblock %}
<!--  -->
{% block title %}パスワードの再設定{% endblock %}
<!--  -->
{% block content %}

<div class="card">
    <div class="title">パスワードを再設定する場合はメールアドレスを送信してください。</div>
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        
        <div class="button">
            <button type="submit" class="btn">送信</button>
        </div>
        <hr>
        <div class="login">
          <a href="{% url 'accounts:login' %}" class="to-login">ログイン画面へ</a>
         </div>
       </div>
    </form>
</div>

{% endblock %}