{% extends "base.html" %} {% load static %}
<!--  -->
{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/password_change.css' %}" />
{% endblock %}
<!--  -->
{% block title %}パスワード変更{% endblock %}
<!--  -->
{% block content %}
<div class="card">
  <div class="title">パスワード変更</div>
  <form action="" method="POST">
    {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
    <div class="form-group">
      <label class="form-label" for="{{ field.id_for_label }}"
        >{{ field.label_tag }}</label
      >
      {{ field }} {{ field.errors }}
    </div>
    {% endfor %}

    <div class="form-group submit">
      <div class="button">
        <button type="submit" class="btn">変更</button>
      </div>

      <div class="button">
        <a href="{% url 'accounts:settings' %}" class="settings">戻る</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
