.post-list {
  /* margin: 0 65px; */
  margin: 0px 5px 0 65px;
  padding: 0px 10px;
  /* background: #fff; */
  /* margin-bottom: 75px; */
  border-radius: 10px;
  position: relative;
}
.post-list .post-list-title {
  /* text-align: center; */
  color: #333;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 0px 0px 15px;
}
.post-list .content {
  display: grid;
  grid-template: 
  "left right" 1fr
  /2fr 1fr ;
}
.post-list .content .posts {
  grid-area: "left";
}
.post-list .content .posts .card {
  /* border-radius: 5px; */
  /* margin: 15px 0; */
  padding: 15px 15px 0;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(229, 231, 235, 1);
  box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
  margin-top: 10px;
  min-width: 300px;
}
.post-list .content .posts .card .date {
  display: flex;
  justify-content: space-between;
  color: #777;
  /* font-size: 20px; */
}
.post-list .content .posts .card .title a{
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
  display: block;
  color: #333;
}
.post-list .content .posts .card .category {
  text-decoration: none;
  border-top: 2px solid rgb(249,250,251);
  color: var(--orange-color);
  /* display: block; */
  min-width: 10px;
  margin: 5px 5px 5px 0;
  /* padding: 2px 0; */
}
.post-list .content .posts .card .tag-list {
  margin: 10px 0;
}
.post-list .content .posts .card .tag-list .tag {
  text-decoration: none;
  color: #5d62fb;
  /* min-width: 10px; */
  margin: 5px 5px 5px 0;
  /* padding: 2px 0; */
}
/* .post-list .content .posts .card .read-more{
  color: #0000ee;
} */
.post-list .content .categories-tags{
  /* position: fixed; */
  grid-area: "right";
  max-height: 300px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(229, 231, 235, 1);
  box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
  /* box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15); */
}
.post-list .content .categories-tags .categories-title{
  padding: 2px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(249,250,251);
  /* text-align: center; */
}
.post-list .content .categories-tags .category-tag {
  margin: 5px 0 10px 10px;
}
.post-list .content .categories-tags .category-tag .category-link {
  text-decoration: none;
  color: var(--orange-color);
  min-width: 10px;
  font-size: 14px;
}
.post-list .content .categories-tags .category-tag .tag-link {
  text-decoration: none;
  /* color: var(--main-color); */
  color: #5d62fb;
  min-width: 10px;
  font-size: 14px;
}
.pagination{
  display: flex;
}
.pagination .step-links{
  display: flex;
}
.pagination .step-links li{
  list-style: none;
  --size: 24px;
  width: var(--size);
  height: var(--size);
  margin: 10px 4px;
  background: #f2f2f2;
  box-shadow: 1px 1px 2px #555;
  /* border-radius: 50%; */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .step-links li a{
  padding: 10px;
  display: block;
  color: #333;
}
.pagination .step-links .active{
  background: var(--main-color);
  color: #f2f2f2;
}
/* .pagination .step-links .chevrons{
  border-radius: 8px;
} */


/* 800pxより狭い場合 */
@media screen and (max-width: 767px) {
  .post-list{
    margin: 0;
    padding: 10px 10px;
    /* height: calc(100vh - 50px); */
  }
  .post-list .post-list-title{
    padding: 10px 0px 0px 15px;
  }
  .post-list .content {
    grid-template:
      "left"
  }
  .post-list .content .categories-tags {
    display: none;
  }
}