.footer {
    padding: 1rem 0;
    border-top: 1px solid #eaeaea;
    background: rgba(0, 0, 0, 0.02);
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #333;
  }