{% extends "base.html" %} {% load static %}
<!--  -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
<!--  -->
{% block title %}ホーム{% endblock %}
<!--  -->
{% block content %}
<div class="content">
  {% for category in categories %}
    <div class="card">
      <div class="category_name">{{ category.name }}</div>
      {% for post in category.category_post.all|slice:":5" %}
      
       <div class="post_title">
        <a href="{% url 'articles:article-detail' pk=post.id %}">
          <i class='bx bx-right-arrow'></i>
          {{ post.title }}
        </a>
      </div>
      {% endfor %}

    
    <a
      href="{% url 'articles:article-category' category=category %}"
      class="category"
    >
      他の記事を読む
    </a>


    </div>
  {% endfor %}
</div>

{% endblock %}
