.card {
    position: fixed;
    min-height: 100px;
    min-width: 350px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card .button{
    margin-top: 10px;
    text-align: right;
}
.card .btn{
    text-decoration: none;
    background: #333;
    color:#fff;
    padding: 3px 10px;
    border-radius: 10px;
}